@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/* STRUTTURA */

.container{
    height: 100vh;
}

.cont-1{
    height: 90%;
}

.cont-2{
    height: 10%;
    background-color: #282828;
    justify-content: space-between;
}

.sidebar{
    flex-basis: 15%;
    background-color: #000000;
    color: #4e555b;
    line-height: 30px;
    padding-left: 15px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar span{
    display: block;
    font-size: 14px;
}

.main{
    flex-basis: 85%;
    background-color: #141922;
    overflow-y: auto;
    
}
/* HEADER */

.header{
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.but{
    justify-content: flex-end;
    margin-right: 2px;
}

.but button{
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 12px 35px;

}

/* NAV MAIN */

.nav-main{
    justify-content: center;
    margin-top: 20px;
}

.nav-main span{
    padding: 10px;
    color: #4e555b;
    font-size: 14px;
    font-weight: bold;
}

/* CONTAINER CARSDS MUSIC*/

.container-cards-music{
    margin: 15px;
}

.recently-played{
    padding: 10px;
}

h2{
    color: white;
    font-weight: bold;
}

.cards{
    margin: 30px 0;
}

.cards-box{
    width: calc(100% / 6);
    padding-right: 10px;
}

.box-img img{
    width: 100%;
}


/* SIDEBAR */

.top{
    flex-direction: column;
}

/* LOGO */

.logo{
    width: 70%;
    padding: 15px 15px 15px 0;
}

/* MENU */

.menu img{
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu :first-child{
    color: white;
}

/* PLAYLIST */

.playlist{
    padding-top: 20px;
}

.playlist :first-child{
    color: white;
}


.playlist .fa-square-plus{
    color: #999999;
    font-size: 40px;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
}


.bottom{
    flex-direction: column;
    margin-bottom: 10px;
}

.installa img{
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.grey-line{
    height: 1px;
    width: 90%;
    background-color: #4e555b;
    margin: 10px;
}


.user-profile img{
    width: 70%;
}

.user-profile{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #4e555b;
    text-align: center;
}

.user-name{
    color: white;
}

/* CONT-2 FOOTER*/

/* CONTENITORE SINISTRA*/
.cont-left{
    border: 1px solid red;
    flex-basis: 15%;
    justify-content: space-around;
}

/* album */

.album{
    flex-basis: 20%;
    background-color: aqua;
}

/* album titolo */

.album-title{
    flex-basis: 50%;
    background-color: aquamarine;
}

/* album icone */

.album-icons{
    flex-basis: 20%;
    background-color: azure;
}

/* CONTENITORE CENTRALE */
.cont-centr{
    border: 1px solid orange;
    flex-basis: 40%;
    align-items: center;
}

/* UP */
.up{
    background-color: pink;
    width: 100%;
    height: 70%;
}

.menu-icone-centr{
    justify-content: center;
   
}

/* DOWN */
.down{
    justify-content: space-between;
}

.time-left{
    flex-basis: 10%;
    background-color: chartreuse;
}

.time-centr{
    flex-basis: 60%;
    background-color: coral;
}

.time-right{
    flex-basis: 10%;
    background-color: cornflowerblue;
}

/* CONTENITORE DESTRA */
.cont-right{
    border: 1px solid red;
    flex-basis: 15%;
}

/* ICONS CONTENITORE DESTRA*/
.menu-icone-right{
    justify-content: space-between;
}

.icon1{
background-color: crimson;
}
.icon2{
    background-color: darkgoldenrod;
}
.icon3{
    background-color: darkred;
}
.icon4{
    background-color: darkorchid;
}


@media  screen and (max-width: 425px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {
    
}

