@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/* STRUTTURA */

.container{
    height: 100vh;
}

.cont-1{
    height: 90%;
}

.cont-2{
    height: 10%;
    background-color: #282828;
    justify-content: space-between;
}


.sidebar{
    flex-basis: 20%;
    background-color: #000000;
    color: #4e555b;
    line-height: 30px;
    padding-left: 15px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
}

@media screen and (max-width: 425px) {
    .sidebar{
        min-width: 150px;
        max-width: 350px;
    }

    .main{
        max-width: 800px;
    }
}

.sidebar span{
    display: block;
    font-size: 14px;
}

.main{
    flex-basis: 80%;
    background-color: #141922;
    overflow-y: auto;
}
/* HEADER */

.header{
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: sticky;
    top: 0;
}

.but{
    justify-content: flex-end;
    margin-right: 2px;
}

.but button{
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 12px 35px;

}

/* NAV MAIN */

.nav-main{
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.nav-main span{
    padding: 10px;
    color: #4e555b;
    font-size: 14px;
    font-weight: bold;
}

/* CONTAINER CARSDS MUSIC*/

.container-cards-music{
    margin: 15px;
}
 /* SEZIONE RECENTLY PLAYED*/

.recently-played{
    padding: 10px;
}

h2{
    color: white;
    font-weight: bold;
}

.cards{
    margin: 30px 0;
    flex-wrap: wrap;
}

.cards-box{
    width: calc(100% / 6);
    padding-right: 10px;
}

@media screen and (max-width: 768px){
    .cards-box{
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 424px){
    
    .header{
        width: calc(100% - 50px);
        padding-right: 100px;
        position: fixed;
        z-index: 1;
    }

    .but button{
        padding: 12px 25px;
        font-size: 10px;
    }
    
    .nav-main{
        margin-top: 90px;
    }

    .nav-main span{
        font-size: 10px;
    }

    h2{
        font-size: 18px;
    }
    
    .recently-played{
        padding: 5px;
    }
    
    .cards{
        margin: 20px 0;
    }
    
    .cards-box{
        width: calc(100% / 2);
        padding-right: 5px;
    }
}

@media screen and (max-width: 376px) {
    .sidebar{
        min-width: 40px;
        max-width: 150px;
    }

   .main{
    flex-basis: 90%;
   }

    .header{
        width: calc(100% - 20px);
        padding-right: 60px;
    }

    .playlist,.installa-text,.user-name,.grey-line,.menu-text{
        display: none;
    }

    .user-profile{
        margin-top: 10px;
    }

    .logo{
        display: none;
    }

    .logo-tel{
        display: block;
        width: 70%;
        padding-top: 20px;
    }
    
}


.box-img img{
    width: 100%;
}

.box-text{
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
}

@media screen and (max-width: 1024px) {
    .box-text{
        font-size: 9px;
    }
}

.box-text p{
    color: #4e555b;
    padding-top: 5px;
    font-weight: bold;

}

.section-title p{
    color: #4e555b;
    font-weight: bold;
    padding-top: 10px;
}

/* SECTION ARTISTI PIU POPOLARI*/

.box-img2{
    border-radius: 100%;
    overflow: hidden;
}

.box-img2 img{
    width: 100%;
}

/* SIDEBAR */

.top{
    flex-direction: column;
}

/* LOGO */

.logo{
    width: 70%;
    padding-top: 20px;
}

.logo-tel{
    display: none;
}

@media screen and (max-width: 376px) {
    .logo{
        display: none;
    }

    .logo-tel{
        display: block;
        width: 70%;
        padding-top: 20px;
    }

    .logo-tel img{
        height: 28px;
    }
}

/* MENU */

.menu img{
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu :first-child{
    color: white;
}

.menu{
    display: block;
}


/* PLAYLIST */

.playlist{
    padding-top: 20px;
}


.playlist :first-child{
    color: white;
}


.playlist .fa-square-plus{
    color: #999999;
    font-size: 40px;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
}


.bottom{
    flex-direction: column;
    margin-bottom: 10px;
}

.installa img{
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.grey-line{
    height: 1px;
    width: 90%;
    background-color: #4e555b;
    margin: 10px 0;
}


.user-profile img{
    width: 70%;
}

.user{
    
    align-items: center;
}

.user-profile{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #4e555b;
    text-align: center;
}

.user-name{
    color: white;
    padding-left: 5px;
}

/* CONT-2 FOOTER*/
/* CONTENITORE SINISTRA*/
.cont-left{
    flex-basis: 15%;
    justify-content: space-between;
    gap: 5px;
}

@media screen and (max-width: 1024px) {
    .cont-left{
        flex-basis: 20%;
    }

    .cont-right{
        flex-basis: 20%;
    }
}

@media screen and (max-width: 768px) {
    .cont-left{
        flex-basis: 25%;
    }

    .cont-right{
        flex-basis: 25%;
    }
}


/* album */

.album{
    margin: auto;
}

.album img{
    height: 40px;
}

/* album titolo */

.album-title{
    font-size: 12px;
    font-weight: bold;
    margin: auto;
}

.album-title :first-child{
    color: white;
}

.album-title p{
    color: #4e555b;
}

/* album icone */

.album-icons{
    color: #4e555b;
    margin: auto;
}

.fa-regular{
    padding: 3px;
}

/* CONTENITORE CENTRALE */
.cont-centr{
    flex-basis: 40%;
    color: white;
}

/* UP */

.menu-icone-centr{
    justify-content: center;
    padding-top: 5px;
}

.menu-icone-centr .fa-solid{
    padding: 10px;
    font-size: 15px;
}

.menu-icone-centr .fa-regular{
    font-size: 25px;
    padding: 5px;
}

/* DOWN */
.down{
    justify-content: space-between;
}

.time-left-right{
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
}

.time-centr{
    margin: auto;
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2)
}

.time-int{
    width: 60%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}


/* CONTENITORE DESTRA */
/* ICONS CONTENITORE DESTRA*/
.menu-icone-right{
    justify-content: space-between;
    color: white;
    padding-top: 30px;
    padding-right: 10px;
}

.menu-icone-right .fa-solid{
    padding: 5px;
    font-size: 12px;
}


.time-right{
    width: 70%;
    height: 4px;
    border-radius: 4px;
    background-color: #4e555b;
    margin: auto;
}

@media screen and (max-width: 376px) {
    .album-icons,.time-left-right{
        display: none;
    }

    .time-centr{
        margin-top: 10px;
    }
}

